*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #FCFCD4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

.board {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-container {
    display: flex;
    background-color: white;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #48529944;
    transition: all 0.3s;
}

.not-allowed {
  cursor:not-allowed;
}

.card-container:hover {
    box-shadow: 10px 10px 3px #48529944;
}

.card-image {
    max-width: 100%;
}

.controles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boton-empezar-partida {
    margin-top: 1em;
    font-size: 1.5em;
    background-color: #00C6A8;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #48529944;
    cursor: pointer;
    margin: 0px;
  }

#boton-empezar-partida:hover{
    color: white;
    background-color: #FFA5B5;
    box-shadow: 5px 5px 2px #48529944;
}

#boton-empezar-partida:active {
    color: black;
    background-color: #00C6A8;
    box-shadow: 5px 5px 10px #48529944;
}

#warning-message {
  background-color: #E6F4F1;
  padding: 0.5em;
  font-size: 1em;
  margin: 0px;
  border-radius: 0.5em;
  font-weight: 500;
  transition: all 0.5s;
}

#intentos {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    margin: 0.5em;
}

.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
}


.flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }
  @keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }

  @media (max-width:501px){
    .board {
      gap: 0.5em;
      padding: 0.2em;
    }
    .card-container {
      padding: 0.2em;
    }
  }
