.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 5px solid #232c3b;
}

.header-container h1 {
    font-size: 2.2rem;
    font-weight: 300;
}

.saldo-disponible-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
}

.saldo-disponible-container > p {
    font-size: 0.8rem;
}

.saldo-disponible-container > h2 {
    font-size: 1.6rem;
    color: var(--primary_color);
}

.header-info-cuenta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}