.row {
    display: grid;
    grid-template-columns: 12% 17% 30% 15% 1fr;
    gap: 1px;
}

.row:nth-child(odd) {
    background-color: #eeeeee;
}

.data-cell {
    font-size: 16px;
    padding: 15px;
    color: #232c3b;
    align-self: center;
}

.align-right {
    text-align: right;
}

.red {
    color: #C70002;
}