:root{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

*{
  box-sizing: border-box;
}

body {
  background-color: #3E7860;
  font-size: 1em;
}

.app header {
  background-color: #172323;
  color: white;
  padding: 0px 20px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1em;
  width: 50vw;
  margin-left: 25%;
}

.game {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  gap:10%;
  background-color: white;
  padding: 2em;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table img {
  width: 100%;
}

.game-historial {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2%;
}

.cartas-historial {
  opacity: 0;
  transition: all 1s;
}

.game-historial div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.game-historial div img {
  width: 50px;
}

#game-controls {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(47, 57, 63, 0.8);
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}

#game-controls div {
  padding-bottom: 20px;
  font-size: 1.5em;
}

button {
  background-color: #FE4C40;
  border-radius: 10px;
  padding: 15px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 5px #213547;
}

button:disabled {
  background-color:grey;
  color: #666;
}

button:hover:disabled {
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #8d2119;
  color: white;
}

#boton-plantarme {
  background-color: #FF9800;
}

#boton-plantarme:hover {
  background-color: #be7200;
}

#boton-nueva-partida {
  display: none;
  background-color: #0093FE;
}

#boton-nueva-partida:hover {
  background-color: #005FC2;
}

#boton-proxima-carta {
  position: absolute;
  display: none;
  background-color: #FF9800;
  text-align: center;
  top:250px;
  font-size: 0.8em;
  padding: 10px;
  box-shadow: 5px 5px 5px #213547;

}

#boton-proxima-carta:hover {
  background-color: #be7200;
}

#points-info {
  color: white;
  font-size: 1.5em;
}

#points {
  font-size: 1.2em;
  font-weight: bold;
  color: #FF9800;
  padding: 5px;
  background-color: #172323;
}

/* MEDIA QUERIES */

@media (max-width:1025px){
  .app {
    width: 100%;
    margin-left: 0px;
  }
  header h1 {
    font-size: 1.5em;
  }
}

@media (max-width:501px){
  #points-info {
    font-size: 1em;
  }
}

@media (max-width:401px){
  header h1 {
    font-size: 1.5em;
  }
}

@media (max-width:331px){
  header h1 {
    font-size: 1em;
  }
}
