*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

.card-container {
    cursor: pointer;
}

.card-container img {
    border-radius: 1em;
    border: 2px solid rgb(207, 207, 207);
    padding: 0.5em;
    max-width: 100%;
}